gspread==6.2.1
langchain_core==1.2.24
langchain_openai==1.1.12
langgraph==1.1.4
langsmith==0.7.24
protobuf==7.34.1
python-dotenv==1.2.2
pytz==2026.1.post1
Requests==2.33.1
streamlit==1.55.0
typing_extensions==4.15.0
zoom_automation==0.1.0
zoom_automation==0.1.0
